.course-area{
    display: flex;
}
.course-list{
    width: 60%;
    margin-left: 10px;
    margin-right: 5px;
    border-right: 1px solid lightslategray;
}
.cart{
   
position: sticky;
top: 0;
background-color: rgb(26, 25, 25);
color: white;
padding: 20px;
height: 200px;
width: 100%;
text-align: center;
margin: 40px;

} 