.course-area{
    display: flex;
}
.course-list{
    width: 60%;
    margin-left: 10px;
    margin-right: 5px;
    border-right: 1px solid lightslategray;
}
.cart{
   
position: sticky;
top: 0;
background-color: rgb(102, 206, 224);
padding: 5px;
height: 400px;
width: 100%;
text-align: center;

} 