.course-detail{
    height: 320px;
    width: 700px;
    margin: 10px 20px;
    padding: 20px;
    border: 3px solid rgb(87, 133, 194);
    border-radius: 10px;
    
    
}
.course-detail h3{
    color: navy;
}
.button{
    background-color: rgb(43, 71, 69);
    height: 40px;
    width: 140px;
    border-radius: 4px;
    cursor: pointer;
    
}
.button:hover{
    color: rgb(65, 202, 11);
}